body{
    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 28px;
    background-color: antiquewhite;
}
h1{
    text-align: Center;
}
#boarder{ 
    width: 300px;
    border: solid red 2px;
}
